.userQuery-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  color: #fff;
}

.userQuery-header {

  padding: 5px;
  text-align: center;
  font-size: 1.5rem;

}

.userQuery-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.userQuery-footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

.userQuery-footer p {
  margin: 0;
  color: #fff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}


