/* .userQuery-userQueryContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  color: #fff;
} */

.userQuery-header {
  
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;

}

.userQuery-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.userQuery-footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

.userQuery-footer p {
  margin: 0;
  color: #fff;
}

.userQueryContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}



.userQueryCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.userQueryForm-group {
  margin-bottom: 1rem;
}

.userQueryForm-control {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.userQueryForm-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.userQueryBtn {
  font-size: 1rem;
  padding: 10px 20px;
}

.userQueryBtn-link {
  font-size: 1.1rem;
}

.userQueryAlert {
  margin-top: 20px;
}

.userQueryCard-header {
  background-color: #f7f7f7;
}

.userQueryCard-header button {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #007bff;
}

.userQueryCard-header button:focus {
  outline: none;
}

.userQueryCard-body {
  background-color: #f9f9f9;
}

#faqAccordion .userQueryCard-header {
  cursor: pointer;
}

#faqAccordion .userQueryCard-header:hover {
  background-color: #f1f1f1;
}

#faqAccordion .userQueryCard-body {
  padding: 15px;
  border-top: 1px solid #ddd;
}
